<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Global site tag (gtag.js) - le estoy metiendo Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152881111-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-152881111-1');
  </script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/resultados.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
  <title>Busqueda avanzada</title>

  <!-- uikit -->
  <script src="/javascripts/favoritos.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
  <script type="text/javascript" src="/javascripts/tres-caracteres.js"></script>
  <script type="text/javascript" src="/javascripts/avanzado-api.js"></script>

</head>
<body>
  <%- include('./partials/head') %>
 <br>
<br>
<br>
<main class="nico"><h1>  USUARIOS</h1></main>

<br>
<main>
  <ul class="ul-bus">
    <br>
    <% for(let i = 0; i < name.length; i ++) { %>
    <a href="/resultados/detalle"><h3 id="nico"><%=name[i].username%> </h3></a>
   <li>Nombre completo: <%=name[i].fullname%></li>  
  <li>Email: <%=name[i].email%></li>
  <li>Cumpleaños: <%=name[i].birthday%></li>
  <% } %>
  <br>
  </ul>
</main>




  <%- include('./partials/footer') %>
</body>

</html>
<!-- aslkdnasod -->
