<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<!-- Global site tag (gtag.js) - le estoy metiendo Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152881111-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];

			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-152881111-1');
		</script>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
		<title>Proyecto integrador</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/resena.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />

		<!-- JAVA -->
		<!-- uikit -->
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
		<!-- script nuestro -->
		<script type="text/javascript" src="/javascripts/java.js"></script>
		<script src="https://kit.fontawesome.com/4710dd3a67.js"></script>
		<script type="text/javascript" src="/javascripts/tres-caracteres.js"></script>
		<script type="text/javascript" src="/javascripts/avanzado-api.js"></script>
		<script type="text/javascript" src="/javascripts/tarde.js"></script>
		<!-- <script src="js/discover.js" charset="utf-8"></script> -->
	</head>
	<body>
		<!--HEADER-->
		<%- include('./partials/head') %>
		<!-- - MAIN - -->
		<main>
			<% if (todo.length == 0) { %>
			<h2 style="color: white;"><strong>No hay reseñas</strong></h2>
			<% } else { %>
			<h2 id="titulos" style="padding-top: 10%;"><strong>Las reseñas mejor puntuadas:</strong></h2>
			<% for(let i = 0; i < todo.length; i++) { %>

			<div class="uk-card uk-card-default uk-width-1-2@m" id="caja-resena">
				<div class="uk-card-header">
					<div class="uk-grid-small uk-flex-middle" uk-grid>
						<div class="uk-width-expand">
							<h3>Quieres saber cual peli es?:</h3>
							<p>
								<a href="/info_serie?id=<%= todo[i].movie_id%>">Entra y enterate!</a>
							</p>
						</div>
						<div class="uk-width-expand">
							<h3 class="uk-card-title uk-margin-remove-bottom">Title:</h3>
							<p><%= todo[i].title%></p>
						</div>
					</div>
				</div>
				<div class="uk-card-header">
					<h3>Description:</h3>
					<p><strong><%= todo[i].description%></strong></p>
				</div>
				<div class="uk-card-body">
					<h3>Rating:</h3>
					<p><strong><%= todo[i].rating%></strong></p>
				</div>
				<div class="uk-card-footer">
					<h3>Publicado por:</h3>
					<p>
						<time datetime="2016-04-01T19:00"
							><p><strong><%= todo[i].username%></strong></p></time
						>
					</p>
				</div>
				<div class="uk-card-footer">
					<h3>Publicado el:</h3>
					<p>
						<time datetime="2016-04-01T19:00"
							><p><strong><%= todo[i].createdAt%></strong></p></time
						>
					</p>
				</div>
			</div>

			<br />
			<br />
			<% } %> <% } %>
		</main>
		<!-- FOOTER -->
		<%- include('./partials/footer') %>
	</body>
</html>
